.myButton
{
    margin-left: 35%;
    color: red;
    border: 2px solid black;
    margin-top: 100px;

}

.MyDiv
{
    width: 400px;
    height: 400px;
    background-color: lightcoral;
    margin: 100px;
}